div.tech-stack {
  border: 1px solid black;
  padding: 6rem;
  max-height: 60vh
}

.tech-stack-bgd {
  opacity: 0.08;
  z-index: -1;
  position: fixed;
  top: -20vh;
  left: 0;
}

.reveal section img {
  margin: 0;
  background: none;
  border: none;
}

.tech-stack img {
  border: 0 !important;
  box-shadow: 0 0 0 !important;
}

#stack-rethinkdb-only {
  position: absolute;
  top: 240px;
  left: 215px;
}

.container-tech-domain {
  float: left;
  transform: rotateZ(90deg);
  transform-origin: left;
  margin: 0 0 0 1rem !important;
}

.container-group {
  border: 5px solid blue !important;
  padding: 1rem !important;
  min-height: 12rem;
}

.docker-stack {
  width: 60%;
}
.docker-stack td {
  width: 50%;
  vertical-align: bottom;
}

.docker-stack * img {
  width: 90%;
}

.todo-unvisited {
  opacity: 0.4;
}

.reveal pre {
  box-shadow: 0 0;
}

.no-max-height {
  max-height: 5000px !important;
}

.scorecard {
  flex-grow: 0;
  margin: 2px;
}
